
.montreuil-font{
    font-size: 6vw;
    font-weight: 300;
    font-family: 'Montreuil';
}

.background-image-config{
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    width: 100vw;
}

.text-box-config{
    padding: 10%;
    color: white;
    text-align: center;

    line-height: 2em;  
    letter-spacing: .2em;
}

.page-layout{
    padding: 5% 5%;
}

.box-shadow{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-title{
    text-align: center;
    text-transform: uppercase;

    letter-spacing: .5em;
}

.flex-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}